<body>
<% a = Time.now.to_s %>
<h1><%= a %></h1>

<div>
	How many days after today : <input type= "number" id = "myInput">
</div><br>

<button id = "CountDays">Count the days!</button><br>

	<h1>It's going to be : <div id = "afterCount"></div></h1>

<div>
	
</div>

</body>
<script>
	var moreDay = new Date();

	function addDay(y) {


		moreDay.setDate(moreDay.getDate()+ y );
		return moreDay
	}	


	document.getElementById("CountDays").onclick = function () {

	var InputDays = document.getElementById("myInput").value;
	var y = InputDays.toString()	
		parseInt(y)
		alert(y);
		document.getElementById("afterCount").innerHTML = addDay(y);
		}


</script>